extends layout

block content
	.container
		script(src='/auth.js' defer)
		h1.twelve.columns.row Image Creation
		.creation-container.twelve.columns.row
			.canvas-container.seven.columns
				canvas#hidden-canvas
				canvas#image-canvas.canvas
				canvas#filter-canvas.canvas
			aside.canvas-options.five.columns
				.row.twelve.columns
					h3.centered Options
				.row.twelve.columns
					label.five.columns(for="file") Image file:
					input.seven.columns#file(name="file" type='file' accept="image/*")
				.row.twelve.columns
					label.five.columns#size-label(for="size") Size:
					input.seven.columns.setting#size(name="size" type="range" disabled)
				.row.twelve.columns
					label.five.columns#opacity-label(for="opacity") Opacity:
					input.seven.columns.setting#opacity(name="opacity" type="range" disabled min="0" max="1" value="1" step="0.01")
				.row.twelve.columns
					h4.row.twelve.columns Filter
					.row.twelve.columns
						label.five.columns#filter-label(for="filter") Colour:
						input.five.columns.setting.colour-box#filter(name="filter" type="color" disabled)
						input.two.columns.setting.clear#clear(name="clear" type="button" value="Clear" disabled)
					.row.twelve.columns
						label.five.columns#filter-opacity-label(for="filter-opacity") Filter Opacity:
						input.seven.columns.setting#filter-opacity(name="filter-opacity" type="range" disabled min="0" max="1" value="0" step="0.01")
				.row.twelve.columns
					h4.row.twelve.columns Tags
					p.row.twelve.columns Separate by comma.
					input.setting.row.twelve.columns#tags(type="text" disabled placeholder="sunny, autumn, mountains")
				.row.twelve.columns
					input.twelve.columns.setting.button-primary#upload(name="Upload" type="submit" value="Upload" disabled)
